:root {
    --color-green: #b9ff66;
    --color-grey: #f3f3f3;
    --color-dark: #191a23;
    --color-black: #000000;
/*    header class */

}
.header {
    font-family: SpaceGrotesk-Regular;
    padding-top: 3.5rem;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav-bar{

}
.header__logo {

}

.nav__menu {
    padding-right: 4rem;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 4rem;

}
.nav__menu-item a {
    text-decoration: none;

}
.nav__btn {

}

.nav__btn-link {
    border: 1px solid black;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    text-decoration: none;

}
.nav__btn-link:hover {
    background-color: var(--color-black);
    color: white;
}
.main-header {
    gap: 5rem;
    display: flex;
    padding-top: 4rem;
}
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content__headline {
    font-size: 1.7rem;
}
.content__p {
    font-size: 1.3rem;
}
.content-btn__1 {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 0.5rem;
    margin-top: 1rem;
}
.content-btn__1:hover {
    background-color: gray;
}
.content-wrap {
    margin-top: 10rem;
}
.oure-customers {
    display: flex;
    flex-wrap: wrap;
    padding-top: 6rem;
    justify-content: space-between;
}
.customer {
    filter: grayscale(100%);
    opacity: 0.5;
}
.customer:hover {
    filter: grayscale(0);
    opacity: 1;
}

/*main class*/
.main {
    font-family: SpaceGrotesk-regular;
}
.main-Services{
    margin-top: 5rem;
}
.main-Services__title {
    display: flex;
    align-items: center;
}
.main-Services__headline {
    font-size: 2.4rem;
    margin-right: 3rem;
    display: inline;
    padding: 0.4rem .8rem;
    border-radius: .5rem;
    line-height: 2.3rem;
    /*border: #b9ff66 solid 1px;*/
    background-color: #b9ff66;
}
.main-Services__text {
    font-size: 1rem;
    font-family: SpaceGrotesk-Medium;
    width: 43%;
}
.main-Services-boxs {
    display: flex;
    margin-top: 5rem;
    padding-bottom: 3rem;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
}
.box-container-black {
    display: flex;
    padding: 3rem;
    box-shadow: 0 .4rem 0 0 var(--color-black);
    background-color: var(--color-black);
    border-radius: 2.5rem;
    width: 36rem;
    height: 19.375rem;
    border: 1px solid black;
}
.box-container-grey {
    display: flex;
    padding: 3rem;
    box-shadow: 0 .4rem 0 0 var(--color-black);
    background-color: var(--color-grey);
    border-radius: 2.5rem;
    width: 36rem;
    height: 19.375rem;
    border: 1px solid black;
}
.box-container-green {
    display: flex;
    padding: 3rem;
    box-shadow: 0 .4rem 0 0 var(--color-black);
    background-color: var(--color-green);
    border-radius: 2.5rem;
    width: 36rem;
    height: 19.375rem;
    border: 1px solid black;
}
.fa-arrow-up-right {
    padding-top: 0.52rem;
    text-align: center;
    rotate: +15deg;
    border-radius: 100%;
    font-size: 2rem;
    height: 3rem;
    width: 3rem;
    background-color: var(--color-black);
    color: var(--color-green);

}
.box-content__links i.fa-arrow-up-right {
    padding-top: 0.52rem;
    text-align: center;
    rotate: +15deg;
    border-radius: 100%;
    font-size: 2rem;
    height: 3rem;
    width: 3rem;
0
    color: var(--color-green);
}
.fa-arrow-up-right::before {
    content: "";
}
.box-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

}
.box-content__warper {
    display: flex;
    height: 100%;
    margin-right: 2rem;
    flex-direction: column;
    justify-content: space-between;
    }
.box-content__links {
    display: flex;
    /*justify-content: center;*/
    align-items: center;

}
.box-content__links .box-content__link {
    font-family: SpaceGrotesk-Medium;
    color: var(--color-black);
    text-decoration: none;
    font-size: 1.3rem;
    margin-left: 1rem;
}
.box-content__links .box-content__link:hover {
    text-decoration: underline;
}
.box-content__title h4 {
    display: inline;
    padding: 0 0.7rem;
    border-radius: .5rem;
    line-height: 2.1rem;
    /*border: #b9ff66 solid 1px;*/
    font-size: 1.7rem;
    background-color: #b9ff66;
}
.box-content__title-green h4 {
    display: inline;
    padding: 0 0.7rem;
    border-radius: .5rem;
    line-height: 2.1rem;
    /*border: #b9ff66 solid 1px;*/
    font-size: 1.7rem;
    background-color: white;
}
.box-content__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
}
.cta {
    background-color: var(--color-grey);
    padding: 3.75rem;
    border-radius: 3rem;
    position: relative;
}
.cta .content {
    width: 50%;
    max-width: 500px;
}
.cta .img {
    width: 500px;
    height: 400px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.cta .img img {

    height: 100%;
    width: 100%;
}

.contact-us-container {
    display: flex;
    flex-direction: column;
}